<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý hàng hóa - Cửa hàng vật tư, phân bón nông nghiệp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">

  <header>
    <div class="header1">
    <a href="#"><img src="./download14.png" alt="logo"> </a>
  </div>
  <div class="header2">
    <ul>
      <a href="#"><img src="./facebook.png" alt="logo" style="width: 55px;height: 18px;"> </a>
      <a href="#"><img src="./instagram.png" alt="logo" style="width: 55px;height: 18px;"> </a>
      <a href="#"><img src="./youtube.png" alt="logo" style="width: 55px;height: 18px;"> </a>
      <a href="#"><img src="./twitter.png" alt="logo" style="width: 55px;height: 18px;"> </a>

    </ul>
    
  </div>
  </header>
  <nav>
    <div class="menu">
      <ul>
        <li><a href="#">Nha cung cap</a></li>
        <li><a href="#">Loai hang hoa</a></li>
        <li><a href="#">Hang hoa</a></li>
        <li><a href="#">Chi tiet hoa don</a></li>
        <li><a href="#">Hoa don</a></li>
        <li><a href="#">Khach hang</a></li>
      </ul>
    </div>
    <div class="search">
      <input type="search" placeholder="Search">
      <button>Tim kiem</button>

    </div>
  

  </nav>
  <div id="main-content">
        <div class="tieude">
        <h1>THEM MOI NHA CUNG CAP</h3>
        </div>
        <div class="form">
        <form >
          <ul>
          
          
          <li><p>Ma nha cung cap</p></li>
          <li><input type="text" name="maNCC" value="${ncc.maNCC}"/> </li>
          
          
        
          <li><p>Ten nha cung cap</p></li>
          <li><input type="text" name="tenNCC" value="${ncc.tenNCC}"/> </li>
         
          
       
          <li><p>Email nha cung cap</p></li>
          <li><input type="text" name="emailNCC" value="${ncc.emailNCC}"/> </li>
       
          
         
          <li><p>Dia chi nha cung cap</p></td>
          <li><input type="text" name="diaChiNCC" value="${ncc.diaChiNCC}"/> </li>
        
          
          
          <ul style="padding-left: 0%; margin-top: 10px;">
          <li style="float: left;">
          <input type="submit" value="Luu" style="height:38px ;;width: 200px;background-color:rgb(8, 101, 59);color: aliceblue; ">
          </li>
          <li style="float: left; line-height:38px;margin-left: 50px; background-color: rgb(8, 101, 59);padding:0px 70px 0px 70px ;">
          <a href="Danh-sach-nha-cung-cap" >Quay lai</a>
           </li>
          </ul>
          
          
          </table>
          </ul>
          </form>
        </div>

     
  </div>
</div>
  <footer>
    <div class="fLeft">
      <p>Cua Hang Vat Tu Nong Nghiep</p>
      <p>Địa chỉ: 123 abc, phường X, quận Y, tp.Z<br />
      Điện thoại: 012.3456789</p>
      <p>Email: <a href="mailto:support@hocwebchuan.com">support@vattunongnghiep.com</a></p>
      <!-- / class fLeft --></div>
      <div class="fRight">
        <h3>Danh muc</h3>
        <ul>
          <li><a href="#">Trang chu</a></li>
          <li><a href="#">Danh sách hàng hóa</a></li>
          <li><a href="#">Thêm mới hàng hóa</a></li>
          <li><a href="#">Thống kê kho hàng</a></li>
          <li><a href="#">Đơn hàng</a></li>
        </ul>
       
    
  </footer>

</body>
</html>
