<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
   		<title>Quản lý hàng hóa - Cửa hàng vật tư, phân bón nông nghiệp</title>
    	<link rel="stylesheet" th:href="@{/style/phieunhapstyle.css}">
    	
	</head>
	<body>
		<div class="container">
  			<header>
    			<div class="header1">
    				<a href="#"><img th:src="@{/img/download14.png}"  alt="logo"> </a>
  				</div>
  				<div class="header2">
    				<ul>
				      <a href="#"><img th:src="@{/img/facebook.png}" alt="logo" style="width: 60px;height: 20px;"> </a>
				      <a href="#"><img th:src="@{/img/instagram.png}" alt="logo" style="width: 60px;height: 20px;"> </a>
				      <a href="#"><img th:src="@{/img/youtube.png}" alt="logo" style="width: 60px;height: 20px;"> </a>
				      <a href="#"><img th:src="@{/img/twitter.png}" alt="logo" style="width: 60px;height: 20px;"> </a>
    				</ul>  
  				</div>
  			</header>
  			<nav>
    			<div class="menu">
      				<ul>
		        <li><a th:href="@{/ncc/list}">Nhà cung cấp</a></li>
		        <li><a th:href="@{/hanghoa/list}">Hàng hóa</a></li>
		        <li><a th:href="@{/phieunhap/list}">Phiếu nhập</a></li>
		        <li><a th:href="@{/phieuxuat/list}">Phiếu xuất</a></li>
		        <li><a th:href="@{/khachhang/list}">Khách hàng</a></li>
		        <li><a th:href="@{/nhanvien/list}">Nhân viên</a></li>
		        <li><a th:href="@{/ttcn}">Thông tin cá nhân</a></li>
      				</ul>
    			</div>
   				<div class="search">
      				<form method="GET" action="${pageContext.request.contextPath}/Danh-sach-phieu-xuat">
      				<input type="text" placeholder="Search" name="search">
      				<input type="submit" value="Tìm kiếm" >
      				</form>
    			</div>
  			</nav>
  		<div id="main-content">
  		<div class="dangxuat">
          <ul>
          <li><a th:href="@{/logout}">Đăng xuất</a></li>  
  			  <li><p><span th:text="${username}"></span>,</p></li>
          
          </ul>
  			</div>
        	<div class="tieude">
        		<h1>DANH SÁCH PHIẾU XUẤT</h1>
        	</div>
        	<div class="list">            
				<div class="themmoi">
					<a  href="Them-moi-phieu-xuat" >Thêm mới</a>
				</div>
				<table class="table">				
					<tr>
						<th>Mã phiếu xuất</th>
						<th>Mã khách hàng</th>
						<th>Mã nhân viên</th>
						<th>Ngày lập phiếu</th>
						<th>Thành tiền</th>
					</tr>									

				<tr th:each="phieuxuatList:${phieuxuat}">
						<td th:text="${phieuxuatList.maphieuxuat}"></td>
						<td th:text="${phieuxuatList.makh}"></td>
						<td th:text="${phieuxuatList.manv}"></td>
						<td th:text="${phieuxuatList.ngaylapphieu}"></td>
						<td th:text="${phieuxuatList.thanhtien}"></td>
						
						<td><a th:href="@{/phieuxuat/detail/{mpx}(mpx=${phieuxuatList.maphieuxuat})}">Chi tiết</a> </td>
					</tr>                            
		
				
				</table>
        	</div>     
  		</div>
	</div>
	<footer>
    	<div class="fLeft">
		     <p>Cửa Hàng Vật Tư Nông nghiệp</p>
		     <p>Địa chỉ: 123 abc, phường X, quận Y, tp.Z<br />
		     Điện thoại: 012.3456789</p>
		     <p>Email: <a href="mailto:support@hocwebchuan.com">support@vattunongnghiep.com</a></p>
		</div>
		<div class="fRight">
        	<h3>Danh mục</h3>
        	<ul>
		        <li><a th:href="@{/ncc/list}">Nhà cung cấp</a></li>
		        <li><a th:href="@{/hanghoa/list}">Hàng hóa</a></li>
		        <li><a th:href="@{/phieunhap/list}">Phiếu nhập</a></li>
		        <li><a th:href="@{/phieuxuat/list}">Phiếu xuất</a></li>
		        <li><a th:href="@{/khachhang/list}">Khách hàng</a></li>
		        <li><a th:href="@{/nhanvien/list}">Nhân viên</a></li>
		        <li><a th:href="@{/ttcn}">Thông tin cá nhân</a></li>
        	</ul>
       </div>   
	</footer>
</body>
</html>