<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
    	<title>Quản lý hàng hóa - Cửa hàng vật tư, phân bón nông nghiệp</title>
    	<link rel="stylesheet" th:href="@{/style/style.css}">
	</head>

	<body>
		<div class="container">
  			<header>
    			<div class="header1">
    				<a href="#"><img th:src="@{/img/download14.png}" alt="logo"> </a>
  				</div>
  				<div class="header2">
    				<ul>
				      <a href="#"><img th:src="@{/img/facebook.png}" alt="logo" style="width: 60px;height: 20px;"> </a>
				      <a href="#"><img th:src="@{/img/instagram.png}" alt="logo" style="width: 60px;height: 20px;"> </a>
				      <a href="#"><img th:src="@{/img/youtube.png}" alt="logo" style="width: 60px;height: 20px;"> </a>
				      <a href="#"><img th:src="@{/img/twitter.png}" alt="logo" style="width: 60px;height: 20px;"> </a>
    				</ul>   
  				</div>
  			</header>
  			<nav>
    			<div class="menu">
      				<ul>
		        <li><a th:href="@{/ncc/list}">Nhà cung cấp</a></li>
		        <li><a th:href="@{/hanghoa/list}">Hàng hóa</a></li>
		        <li><a th:href="@{/phieunhap/list}">Phiếu nhập</a></li>
		        <li><a th:href="@{/phieuxuat/list}">Phiếu xuất</a></li>
		        <li><a th:href="@{/khachhang/list}">Khách hàng</a></li>
		        <li><a th:href="@{/nhanvien/list}">Nhân viên</a></li>
		        <li><a th:href="@{/ttcn}">Thông tin cá nhân</a></li>
     				</ul>
    			</div>
    			
  			</nav>
  			<div id="main-content">
  			<div class="dangxuat">
          <ul>
          <li><a th:href="@{/logout}">Đăng xuất</a></li>  
  			  <li><p><span th:text="${username}"></span>,</p></li>
          
          </ul>
  			</div>
        		<div class="tieude">
        			<h1>THÔNG TIN CÁ NHÂN</h1>
        		</div>
        		<div class="form">
        			<form th:action="@{/ttcn}" method="post"	th:ojbect="@{nhanvien}">
        				<input type="hidden" name="manv" th:value="${nhanvien.manv}">
        				<input type="hidden" name="tennv" th:value="${nhanvien.tennv}"/> 
        				<input type="hidden" name="vaitro" th:value="${nhanvien.vaitro}"/>
        				<input type="hidden" name="username" th:value="${nhanvien.username}"/>  
        				
          					<ul>
                    			<li><p style="color:red;">Vai trò  <span th:text="${nhanvien.vaitro}"></span></p></li>
          						<li><p style="color:red;">Mã nhân viên:  <span th:text="${nhanvien.manv}"></span></p></li>                        
          						<li><p style="color:red;">Tên nhân viên: <span th:text="${nhanvien.tennv}"></span></p></li>
					          	<li><p style="color:red;">Username: <span th:text="${nhanvien.username}"></span></p></li>                         
					          	<li><p>Số điện thoại nhân viên</p></li>
					          	<li><input type="text" name="sdtnv" th:value="${nhanvien.sdtnv}"/> </li>      					                 
					          	
					          	
					          	<li><p>Password</p></li>
					          	<li> <input type="password" name="password" th:value="${nhanvien.password}"/> </li>    
					          	
					          	
					        </ul>      
          					<ul style=" margin-top: 10px;">
						          <li style="float: left;">
						          <input type="submit" value="Lưu" style="height:38px 
						          ;width: 200px;background-color:rgb(8, 101, 59);color: aliceblue; ">
						          </li>
						          <li style="float: left; line-height:38px;margin-left: 50px;
						           background-color: rgb(8, 101, 59);padding:0px 70px 0px 70px ;">
						          <a th:href="@{/hanghoa/list}" >Quay lại</a>
						          </li>
          					</ul>                              		    
          				</form>
        			</div>    
  				</div>
			</div>
  		<footer>
    		<div class="fLeft">
	      		<p>Cửa hàng vật tư nông nghiệp</p>
	      		<p>Địa chỉ: 123 abc, phường X, quận Y, tp.Z<br />
	      		Điện thoại: 012.3456789</p>
	      		<p>Email: <a href="mailto:support@hocwebchuan.com">support@vattunongnghiep.com</a></p>
	      		<!-- / class fLeft --></div>
	      	<div class="fRight">
	        	<h3>Danh mục</h3>
	        	<ul>
			        <li><a th:href="@{/ncc/list}">Nhà cung cấp</a></li>
			        <li><a th:href="@{/hanghoa/list}">Hàng hóa</a></li>
			        <li><a th:href="@{/phieunhap/list}">Phiếu nhập</a></li>
			        <li><a th:href="@{/phieuxuat/list}">Phiếu xuất</a></li>
			        <li><a th:href="@{/khachhang/list}">Khách hàng</a></li>
			        <li><a th:href="@{/nhanvien/list}">Nhân viên</a></li>
			        <li><a th:href="@{/ttcn}">Thông tin cá nhân</a></li>
        		</ul>
        	</div>         
  		</footer>
	</body>
</html>